@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Jacquarda+Bastarda+9&display=swap');
h1{
    font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
}